html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .card {
    border: solid 1px blue;
    width: 100%;
    padding: 0 4px 4px 4px;
    min-height: 100px;
    min-width: 500px;
    width: 50%;
    padding: 8px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "repo star"
      "description language";
    gap: 16px;

    .repo-link {
      text-decoration: none;
      color: blue;
      grid-area: repo;

      &:visited {
        color: blue;
      }
    }

    .repo-description {
      overflow-wrap: anywhere;
      max-width: 70%;
      grid-area: description;
    }

    .repo-star {
      grid-area: star;
      text-align-last: right;
    }

    .repo-language {
      grid-area: language;
      border: solid 1px black;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 4px;
      list-style: none;

      .lang {
        border: solid 1px blue;
        border-radius: 14px;
        text-align: center;
        min-width: 30px;
        width: fit-content;
        height: fit-content;
        padding: 4px;
        font-size: 0.75rem;
      }
    }
  }
}
