@import "tailwindcss";
@source "hugo_stats.json";
@import "@catppuccin/tailwindcss/mocha.css";

.tag-filter-selected {
  @apply bg-ctp-maroon/20 text-ctp-maroon;
}

.tag-filter-normal {
  @apply bg-ctp-rosewater/20 text-ctp-rosewater;
}

@layer base {
  a {
    @apply hover:text-ctp-blue hover:underline;
  }

  html:lang(zh) {
    @apply text-base;
  }
}
