<div
  class="bg-ctp-surface0 flex flex-col gap-4 p-5 items-start justify-center rounded-lg w-[80%] max-w-3xl shadow-ctp-crust/20 shadow-[4px_4px_4px_0]"
>
  <h3 class="text-lg">
    <a
      href="{{ .url }}"
      class="hover:text-ctp-blue hover:underline"
      target="_blank"
      >{{ .repo }}</a
    >
  </h3>
  <p class="text-pretty wrap-anywhere text-sm text-ctp-subtext0 text-left">
    {{ .description }}
  </p>
  <div class="flex gap-8 justify-between w-full">
    <span class="select-none">⭐ {{ .stars }}</span>
    {{ partial "project-tags.html" . }}
  </div>
</div>
