<div
  class="bg-ctp-surface0 flex flex-col gap-4 p-5 items-start justify-center rounded-lg w-full shadow-ctp-crust/20 shadow-[4px_4px_4px_0] duration-300 ease-out hover:shadow-lg hover:-translate-y-1 hover:scale-105 project-card"
  data-stars="{{ .stars }}"
  data-update="{{ .updated_at }}"
  data-tags="{{ delimit .tags "," }}"
>
  <h3 class="text-lg">
    <a href="https://github.com/{{ .author }}/{{ .repo }}" target="_blank"
      >{{ .author }}/{{ .repo }}</a
    >
  </h3>
  <p class="text-pretty wrap-anywhere text-sm text-ctp-subtext0 text-left">
    {{ .description | default .Site.Params.project.defaultDescription }}
  </p>
  <div class="flex gap-8 justify-between w-full">
    <div class="flex flex-nowrap gap-4 text-nowrap items-center">
      <span class="select-none">⭐ {{ .stars | default 0 }}</span>
      <span
        >{{ i18n "updateOn" }}:
        {{ (.updated_at | time).Format "2006-01-02" }}</span
      >
    </div>
    {{ if .tags }}
      {{ partial "project-tags.html" . }}
    {{ end }}
  </div>
</div>
