<div class="flex items-center gap-3">
  <label
    class="text-ctp-subtext0 text-nowrap text-sm font-medium"
    for="sort-selector"
    >{{ i18n "sortBy" }}</label
  >
  <div class="relative">
    <select
      id="sort-selector"
      class="appearance-none rounded-lg border border-ctp-surface1 bg-ctp-surface0 text-center text-ctp-text px-3 py-2 text-sm shadow-sm focus:outline-none focus:border-ctp-blue focus:ring-2 focus:ring-ctp-blue"
    >
      <option value="star-desc">{{ i18n "stars" }} ↓</option>
      <option value="star-asce">{{ i18n "stars" }} ↑</option>
      <option value="update-desc">{{ i18n "updateTime" }} ↓</option>
      <option value="update-asce">{{ i18n "updateTime" }} ↑</option>
    </select>
  </div>
</div>
