{{ $tagStyle := "select-none cursor-pointer text-nowrap" }}

{{ $allTags := slice }}
{{ range $username, $repos := .Site.Data.projects }}
  {{ range $repos }}
    {{ range .tags }}
      {{ $allTags = $allTags | append . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $allTags = $allTags | uniq | sort }}


<div class="pb-4 pt-2 max-w-full overflow-x-scroll flex-1">
  <ul class="flex gap-1">
    <label for="all" data-tag="All" class="select-all-tags">
      <input type="checkbox" class="hidden" id="all" />
      {{ partial "tag.html" (dict "tag" "All" "extraStyle" (print $tagStyle " tag-filter-selected")) }}
    </label>

    {{ range $allTags }}
      <label for="{{ . }}" class="tag-filter" data-tag="{{ . }}">
        <input type="checkbox" class="hidden" id="{{ . }}" />
        {{ partial "tag.html" (dict "tag" . "extraStyle" (print $tagStyle " tag-filter-normal")) }}
      </label>
    {{ end }}
  </ul>
</div>
