name: Update Theme

on:
  schedule:
    - cron: "0 4 * * *" # Run at 4 a.m.
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set git config
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Update submodule
        run: |
          git submodule update --init --recursive --remote

      - name: Update files
        run: |
          cp -r ./themes/universtar/.github/workflows ./.github/
          cp ./themes/universtar/package.json ./themes/universtar/tsconfig.json ./themes/universtar/flake* ./themes/universtar/*.js ./themes/universtar/exampleSite/Justfile ./themes/universtar/.envrc ./themes/universtar/.gitignore ./themes/universtar/.prettierrc .

      - name: Check for changes
        id: check_changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "has_changes=true" >> $GITHUB_OUTPUT
            echo "Changes detected"
          else
            echo "has_changes=false" >> $GITHUB_OUTPUT
            echo "No changes"
          fi

      - name: Commit and Push Changes
        if: steps.check_changes.outputs.has_changes == 'true'
        run: |
          git add .
          git commit -m "github-actions[bot]: update the theme"
          git push
