name: Update Theme

on:
  schedule:
    - cron: "0 4 * * *" # Run at 4 a.m.
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set git config
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Update submodule
        run: |
          git submodule update --remote --recursive

      - name: Commit Changes
        run: |
          git add themes/universtar
          git commit -m "github-actions[bot]: update the theme"

      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
